<a href="https://colab.research.google.com/github/chrissintha/Machine-Learning/blob/main/train_and_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# The concept of train and test

The goal of this notebook is 

1. to split our housing data to sets, train and test.
2. Create a model (function) based on an exploration only using the train set.
3. Apply the model to our train and test set.
4. Evaluate the performance of both sets.

In [1]:
import pandas as pd

housing = pd.read_csv(housing-classification-iter-0-2.csv')

## Train and test creation

Is there a way to create a train and a test using sklearn?

In [2]:
# Create a train and a test with sklearn
from sklearn.model_selection import train_test_split

## Explore and create the model using the train set

Is there any column that helps us identify if a house is expensive or not using only train set?

In [3]:
X = housing.drop(columns=['Expensive'])
y = housing.filter(['Expensive'])

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=.75, random_state=8)

## Create your model after exploring the train set

Based on your exploration, what features will have the most impact on the predictions?
Create a function based on those features.

In [4]:
# quick exploration to our train data.
(
X_train
    .assign(Expensive = y_train)
    .groupby(['Fireplaces','Expensive'])
    .agg(count = ('Expensive','count'))
    )

                      count
Fireplaces Expensive
0          0            532
           1              8
1          0            334
           1            121
2          0             63
           1             32
3          0              3
           1              2

In [7]:
  #Calculate with Fireplaces
def price_range(Fireplaces):
    if Fireplaces > 1:
        return 1
    elif Fireplaces <=1:
        return 0

## Apply your model

In [5]:
# quick exploration to our train data.
(
X_train
    .assign(Expensive = y_train)
    .groupby(['Fireplaces','Expensive'])
    .agg(count = ('Expensive','count'))
    )

                      count
Fireplaces Expensive
0          0            532
           1              8
1          0            334
           1            121
2          0             63
           1             32
3          0              3
           1              2

What are the predicted values for your train set?

In [8]:
# Let's predict if homes are expensive  or not with  dummy model
X_train['preds'] = [price_range(Fireplaces) for Fireplaces in X_train['Fireplaces']]

And the predicted values for the test set?

In [9]:
(
X_train
  .filter(['preds'])
  .assign(Fireplaces = y_train)
    .assign(check = lambda x: x['Fireplaces'] == x['preds'])['check']
    .sum()
 ) / len(y_train)

0.821917808219178

In [10]:
912/(912+172)

0.8413284132841329

## Check the performance of your model

What is the accuracy of your model on your train set?

In [11]:
(
X_test
  .assign(preds = lambda x: [price_range(Fireplaces) for Fireplaces in x['Fireplaces']])
  .filter(['preds'])
  .assign(Fireplaces = y_test)
  .assign(check = lambda x: x['Fireplaces'] == x['preds'])['check']
  .sum()
 ) / len(y_test)

0.8246575342465754

And the accuracy on the test set?

In [12]:
912/(912+172)

0.8413284132841329